@model clsPersonaNombreDept

@{
    ViewData["Title"] = "Eliminar Persona";
}

@if (!string.IsNullOrEmpty(ViewBag.Nombre))
{
    <div class="alert alert-success mt-4 text-center">
        <h2>@ViewBag.Nombre eliminado/a</h2>
        <div>
            <a asp-action="Listado" class="btn btn-primary mt-2 w-100">Volver al listado</a>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="card shadow rounded">
            <div class="card-header text-center bg-light">
                <h4 class="text-danger">¿Está seguro de eliminar a @Model.Nombre @Model.Apellidos?</h4>
            </div>
            <div class="card-body">

                <p><strong>Nombre:</strong> @Model.Nombre</p>
                <p><strong>Apellidos:</strong> @Model.Apellidos</p>
                <p><strong>Teléfono:</strong> @Model.Telefono</p>
                <p><strong>Dirección:</strong> @Model.Direccion</p>
                <p><strong>Fecha Nacimiento:</strong> @Model.FechaNacimiento</p>
                <p><strong>Departamento:</strong> @Model.NombreDept</p>

                <form asp-action="Delete" class="mt-4">
                    <input type="hidden" name="nombre" value="@Model.Nombre @Model.Apellidos" />
                    <button type="submit" class="btn btn-danger btn-block mt-3 w-100">Eliminar</button>
                </form>

                <div class="text-center mt-3">
                    <a asp-action="Listado" class="btn btn-outline-secondary mt-2 w-100">Cancelar</a>
                </div>

                @ViewBag.Mensaje
            </div>
        </div>
    </div>
}
